[clustering]
mode = manager
replication_factor = {{ splunk_idxc_replication_factor }}
search_factor = {{ splunk_idxc_search_factor }}
pass4SymmKey = {{ splunk_idxc_secret }}
cluster_label = {{ splunk_idxc_label }}